*,
*:focus,
*:active,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.1em;
  background: black;
  color: white;
}
